Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
# Answer:
'''A database is a structured collection of data that can be easily accessed, managed, and updated.
SQL (Structured Query Language) is a relational database management system that uses a structured schema and organizes data into tables with 
pre-defined relationships between them. NoSQL (Not only SQL) is a non-relational database management system that stores data in a document-oriented, 
graph-oriented, or key-value format, with flexible schemas that can change dynamically.'''

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
# Answer:
'''DDL (Data Definition Language) is a subset of SQL that is used to define the structure of a database.
   The following are some of the commonly used DDL commands and their uses:

CREATE: Used to create a new table, view, or other database object.
DROP: Used to delete a table, view, or other database object.
ALTER: Used to modify the structure of an existing table or other database object.
TRUNCATE: Used to delete all the data in a table without deleting the table structure.'''

CREATE TABLE customers (id INT PRIMARY KEY,name VARCHAR(50),email VARCHAR(50));

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
# Answer:
'''DML (Data Manipulation Language) is a subset of SQL that is used to manipulate data in a database. 
The following are some of the commonly used DML commands and their uses:

INSERT: Used to add new data to a table.
UPDATE: Used to modify existing data in a table.
DELETE: Used to delete data from a table.'''

INSERT INTO customers (id, name, email) VALUES (1, 'Mithilesh', 'mithi@gmail.com');
UPDATE customers SET name = 'Rohit' WHERE id = 1;
DELETE FROM customers WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
# Answer:
'''DQL (Data Query Language) is a subset of SQL that is used to retrieve data from a database. 
The most commonly used DQL command is SELECT, which is used to query data from one or more tables. 
For example, the following SQL statement retrieves all the rows from the "customers" table:'''

SELECT * FROM customers;

Q5. Explain Primary Key and Foreign Key.

In [ ]:
# Answer:
'''A primary key is a column or set of columns in a table that uniquely identifies each row in that table. 
It is used to enforce data integrity and ensure that there are no duplicate rows in the table. 
A foreign key is a column or set of columns in one table that refers to the primary key of another table. 
It is used to establish a relationship between two tables and enforce referential integrity.'''

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)
# create a cursor object
mycursor = mydb.cursor()

# cursor and execute 
'''cursor() method is used to create a cursor object which is used to execute SQL queries and fetch data from the database.
execute() method is used to execute SQL queries on the database. It takes a string parameter which contains the SQL query to be executed.'''

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
# Answer:
# In an SQL query, the order of execution of clauses is:
''' FROM: specifies the table(s) to retrieve data from.
    JOIN: combines data from multiple tables based on a related column between them.
    WHERE: filters the data based on a specific condition.
    GROUP BY: groups the data based on one or more columns.
    HAVING: filters the grouped data based on a specific condition.
    SELECT: selects the columns to retrieve data from.
    DISTINCT: removes duplicate rows from the result set.
    ORDER BY: sorts the result set based on one or more columns.
    LIMIT: limits the number of rows returned by the query.'''